@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1704349317599') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-youkexuzhi:before {
  content: "\e6f3";
}

.icon-dian:before {
  content: "\e7a5";
}

.icon-zhihuan:before {
  content: "\ec8d";
}

.icon-guanliyuan:before {
  content: "\e519";
}

.icon-sousuo:before {
  content: "\e611";
}

.icon-Exit-2:before {
  content: "\e7e9";
}

.icon-Enter-2:before {
  content: "\e7ea";
}

.icon-xiaoxi-zhihui:before {
  content: "\e61d";
}

.icon-xihuan:before {
  content: "\e61e";
}

.icon-gengduo:before {
  content: "\e61f";
}

.icon-shouye-zhihui:before {
  content: "\e620";
}

